# Android Studio
.gradle
.idea
*.iml
local.properties
.DS_Store
build
captures
.externalNativeBuild

# Xcode Things
iOS/DoorbellBotNative.xcodeproj/project.xcworkspace/xcuserdata
iOS/DoorbellBotNative.xcodeproj/xcuserdata
iOS/Pods/Pods.xcodeproj/xcuserdata
iOS/DoorbellBotNative.xcworkspace/xcuserdata

# Build Artifacts for shared code
SharedCode/build/kotlin
SharedCode/build/classes
SharedCode/build/bin
SharedCode/build/tmp

# Individual user data

fastlane/DerivedData
fastlane/test_output
fastlane/report.xml
GoogleService-Info.plist
add_secrets_to_env.sh
